body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

.buttons {
    text-align: center;
    margin: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

pre {
    background: white;
    padding: 15px;
    height: 300px;
    overflow: auto;
}
